@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

:root {
  --pi: 3.14159265359;
  --a1: 60;
  --a2: 25;
  --a3: 10;
  --a4: 5;
}

.chart__pie {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.chart__main {
  width: 800px;
  height: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes percent1 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a1) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a1) / 100));
  }
}

@keyframes percent1 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a1) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a1) / 100));
  }
}

@-webkit-keyframes percent2 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a2) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a2) / 100));
  }
}

@keyframes percent2 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a2) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a2) / 100));
  }
}

@-webkit-keyframes percent3 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a3) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a3) / 100));
  }
}

@keyframes percent3 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a3) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a3) / 100));
  }
}

@-webkit-keyframes percent4 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a4) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a4) / 100));
  }
}

@keyframes percent4 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a4) / 100) calc(2 * var(--pi) * 300 * (1 - var(--a4) / 100));
  }
}

.donut {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: 0;
  cursor: pointer;
}

.donut:nth-child(1) {
  -webkit-transform: rotateZ(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotateZ(-90deg);
  -webkit-animation: percent1 1s ease-in-out forwards;
          animation: percent1 1s ease-in-out forwards;
}

.donut:nth-child(2) {
  -webkit-transform: rotateZ(calc(-90deg + var(--a1) * 360deg / 100));
      -ms-transform: rotate(calc(-90deg + var(--a1) * 360deg / 100));
          transform: rotateZ(calc(-90deg + var(--a1) * 360deg / 100));
  -webkit-animation: percent2 1s ease-in-out forwards;
          animation: percent2 1s ease-in-out forwards;
}

.donut:nth-child(3) {
  -webkit-transform: rotateZ(calc(-90deg + var(--a1) * 360deg / 100 + var(--a2) * 360deg / 100));
      -ms-transform: rotate(calc(-90deg + var(--a1) * 360deg / 100 + var(--a2) * 360deg / 100));
          transform: rotateZ(calc(-90deg + var(--a1) * 360deg / 100 + var(--a2) * 360deg / 100));
  -webkit-animation: percent3 1s ease-in-out forwards;
          animation: percent3 1s ease-in-out forwards;
}

.donut:nth-child(4) {
  -webkit-transform: rotateZ(calc(-90deg + var(--a1) * 360deg / 100 + var(--a2) * 360deg / 100 + var(--a3) * 360deg / 100));
      -ms-transform: rotate(calc(-90deg + var(--a1) * 360deg / 100 + var(--a2) * 360deg / 100 + var(--a3) * 360deg / 100));
          transform: rotateZ(calc(-90deg + var(--a1) * 360deg / 100 + var(--a2) * 360deg / 100 + var(--a3) * 360deg / 100));
  -webkit-animation: percent4 1s ease-in-out forwards;
          animation: percent4 1s ease-in-out forwards;
}

.donut:hover {
  stroke-width: 70;
}

.calendar {
  position: absolute;
  width: 300px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
}

.calendar__picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center/cover;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar__picture::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.1)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
}

.calendar__picture h2 {
  margin: 0;
}

.calendar__picture h3 {
  margin: 0;
  font-weight: 500;
}

.calendar__date {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__day:nth-child(7) {
  color: #ff685d;
}

.calendar__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  color: #262626;
}

.calendar__number:nth-child(7n) {
  color: #ff685d;
  font-weight: 700;
}

.calendar__number--current,
.calendar__number:hover {
  background-color: #009688;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  color: #333;
  line-height: 20px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container1] {
  max-width: 99.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.wrapper {
  padding: 0.625rem;
  background-color: #0d0d27;
}

.main {
  display: block;
}

.main__top-calendar {
  margin-top: 1.25rem;
  border: 1px solid #eee;
  display: block;
  background-color: #fff;
  border-radius: 0.625rem;
  position: relative;
}

.main__top-calendar button {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  padding: 0.625rem 1.25rem 0.625rem 1.875rem;
  border-right: 1px solid #eee;
}

.main__top-calendar select {
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.main__catalog {
  margin-top: 2.5rem;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.25rem;
}

.catalog__item {
  padding: 1.25rem;
  border-right: 1px solid #eee;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  cursor: pointer;
}

.catalog__item span {
  display: block;
  width: 100%;
}

.catalog {
  position: relative;
}

.catalog__spoller {
  top: 110%;
  position: absolute;
}

.catalog__spoller-header {
  -webkit-box-shadow: #0d0d27;
          box-shadow: #0d0d27;
  padding: 1.25rem;
  background: #fff;
  border: 2px solid #111;
}

.catalog__spoller-header span {
  border-bottom: 1px solid #eee;
  border-radius: 10px;
}

.results {
  margin-top: 2.5rem;
}

.results__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.results__item {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.results__item-header {
  border-bottom: 1px solid #eee;
  width: 100%;
  font-weight: 700;
  padding: 0.9375rem 0.625rem;
}

.results__item-body {
  padding: 0.9375rem 0.625rem;
  text-align: center;
  padding: 0.625rem;
}

.results__item-body h2 {
  padding: 0.625rem 0.3125rem 1.5625rem 0.3125rem;
  font-size: 2rem;
}

.results__item-body h3,
.results__item-body span {
  font-size: 1.25rem;
  color: green;
}

.chart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625rem;
}

.chart__pie {
  border-radius: 0.625rem;
  width: 100%;
}

.chart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart .chart-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart .chart-list-content h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #fff;
  line-height: 1.25;
  position: relative;
}

.chart .chart-list-content h2::after {
  content: "";
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  height: 0.0625rem;
  width: 90%;
  background-color: #333;
}

.chart .chart-list-content__item {
  margin: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.chart .chart-list-content__item p {
  color: #fff;
}

.chart .chart-list-content__item span {
  position: absolute;
  width: 1rem;
  left: -28px;
  top: 3px;
  height: 1rem;
  display: block;
  border-radius: 50%;
  margin-right: 0.3125rem;
  background-color: red;
}

@media (max-width: 61.99875em) {
  .catalog__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.625rem;
  }

  .results__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .chart__pie {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .catalog__item {
    width: 100%;
  }
}